.back { background: url('./svgs/1B.svg'); }
.two.clubs { background: url('./svgs/2C.svg'); }
.three.clubs { background: url('./svgs/3C.svg'); }
.four.clubs { background: url('./svgs/4C.svg'); }
.five.clubs { background: url('./svgs/5C.svg'); }
.six.clubs { background: url('./svgs/6C.svg'); }
.seven.clubs { background: url('./svgs/7C.svg'); }
.eight.clubs { background: url('./svgs/8C.svg'); }
.nine.clubs { background: url('./svgs/9C.svg'); }
.ten.clubs { background: url('./svgs/TC.svg'); }
.jack.clubs { background: url('./svgs/JC.svg'); }
.queen.clubs { background: url('./svgs/QC.svg'); }
.king.clubs { background: url('./svgs/KC.svg'); }
.ace.clubs { background: url('./svgs/AC.svg'); }
.two.spades { background: url('./svgs/2S.svg'); }
.three.spades { background: url('./svgs/3S.svg'); }
.four.spades { background: url('./svgs/4S.svg'); }
.five.spades { background: url('./svgs/5S.svg'); }
.six.spades { background: url('./svgs/6S.svg'); }
.seven.spades { background: url('./svgs/7S.svg'); }
.eight.spades { background: url('./svgs/8S.svg'); }
.nine.spades { background: url('./svgs/9S.svg'); }
.ten.spades { background: url('./svgs/TS.svg'); }
.jack.spades { background: url('./svgs/JS.svg'); }
.queen.spades { background: url('./svgs/QS.svg'); }
.king.spades { background: url('./svgs/KS.svg'); }
.ace.spades { background: url('./svgs/AS.svg'); }
.two.hearts { background: url('./svgs/2H.svg'); }
.three.hearts { background: url('./svgs/3H.svg'); }
.four.hearts { background: url('./svgs/4H.svg'); }
.five.hearts { background: url('./svgs/5H.svg'); }
.six.hearts { background: url('./svgs/6H.svg'); }
.seven.hearts { background: url('./svgs/7H.svg'); }
.eight.hearts { background: url('./svgs/8H.svg'); }
.nine.hearts { background: url('./svgs/9H.svg'); }
.ten.hearts { background: url('./svgs/TH.svg'); }
.jack.hearts { background: url('./svgs/JH.svg'); }
.queen.hearts { background: url('./svgs/QH.svg'); }
.king.hearts { background: url('./svgs/KH.svg'); }
.ace.hearts { background: url('./svgs/AH.svg'); }
.two.diamonds { background: url('./svgs/2D.svg'); }
.three.diamonds { background: url('./svgs/3D.svg'); }
.four.diamonds { background: url('./svgs/4D.svg'); }
.five.diamonds { background: url('./svgs/5D.svg'); }
.six.diamonds { background: url('./svgs/6D.svg'); }
.seven.diamonds { background: url('./svgs/7D.svg'); }
.eight.diamonds { background: url('./svgs/8D.svg'); }
.nine.diamonds { background: url('./svgs/9D.svg'); }
.ten.diamonds { background: url('./svgs/TD.svg'); }
.jack.diamonds { background: url('./svgs/JD.svg'); }
.queen.diamonds { background: url('./svgs/QD.svg'); }
.king.diamonds { background: url('./svgs/KD.svg'); }
.ace.diamonds { background: url('./svgs/AD.svg'); }