.back { background: url('./pgns/Cards/back01.png'); }
.two.clubs { background: url('./pgns/Cards/clubs_02.png'); }
.three.clubs { background: url('./pgns/Cards/clubs_03.png'); }
.four.clubs { background: url('./pgns/Cards/clubs_04.png'); }
.five.clubs { background: url('./pgns/Cards/clubs_05.png'); }
.six.clubs { background: url('./pgns/Cards/clubs_06.png'); }
.seven.clubs { background: url('./pgns/Cards/clubs_07.png'); }
.eight.clubs { background: url('./pgns/Cards/clubs_08.png'); }
.nine.clubs { background: url('./pgns/Cards/clubs_09.png'); }
.ten.clubs { background: url('./pgns/Cards/clubs_10.png'); }
.jack.clubs { background: url('./pgns/Cards/clubs_jack.png'); }
.queen.clubs { background: url('./pgns/Cards/clubs_queen.png'); }
.king.clubs { background: url('./pgns/Cards/clubs_king.png'); }
.ace.clubs { background: url('./pgns/Cards/clubs_ace.png'); }
.two.diamonds { background: url('./pgns/Cards/diamonds_02.png'); }
.three.diamonds { background: url('./pgns/Cards/diamonds_03.png'); }
.four.diamonds { background: url('./pgns/Cards/diamonds_04.png'); }
.five.diamonds { background: url('./pgns/Cards/diamonds_05.png'); }
.six.diamonds { background: url('./pgns/Cards/diamonds_06.png'); }
.seven.diamonds { background: url('./pgns/Cards/diamonds_07.png'); }
.eight.diamonds { background: url('./pgns/Cards/diamonds_08.png'); }
.nine.diamonds { background: url('./pgns/Cards/diamonds_09.png'); }
.ten.diamonds { background: url('./pgns/Cards/diamonds_10.png'); }
.jack.diamonds { background: url('./pgns/Cards/diamonds_jack.png'); }
.queen.diamonds { background: url('./pgns/Cards/diamonds_queen.png'); }
.king.diamonds { background: url('./pgns/Cards/diamonds_king.png'); }
.ace.diamonds { background: url('./pgns/Cards/diamonds_ace.png'); }
.two.hearts { background: url('./pgns/Cards/hearts_02.png'); }
.three.hearts { background: url('./pgns/Cards/hearts_03.png'); }
.four.hearts { background: url('./pgns/Cards/hearts_04.png'); }
.five.hearts { background: url('./pgns/Cards/hearts_05.png'); }
.six.hearts { background: url('./pgns/Cards/hearts_06.png'); }
.seven.hearts { background: url('./pgns/Cards/hearts_07.png'); }
.eight.hearts { background: url('./pgns/Cards/hearts_08.png'); }
.nine.hearts { background: url('./pgns/Cards/hearts_09.png'); }
.ten.hearts { background: url('./pgns/Cards/hearts_10.png'); }
.jack.hearts { background: url('./pgns/Cards/hearts_jack.png'); }
.queen.hearts { background: url('./pgns/Cards/hearts_queen.png'); }
.king.hearts { background: url('./pgns/Cards/hearts_king.png'); }
.ace.hearts { background: url('./pgns/Cards/hearts_ace.png'); }
.two.spades { background: url('./pgns/Cards/spades_02.png'); }
.three.spades { background: url('./pgns/Cards/spades_03.png'); }
.four.spades { background: url('./pgns/Cards/spades_04.png'); }
.five.spades { background: url('./pgns/Cards/spades_05.png'); }
.six.spades { background: url('./pgns/Cards/spades_06.png'); }
.seven.spades { background: url('./pgns/Cards/spades_07.png'); }
.eight.spades { background: url('./pgns/Cards/spades_08.png'); }
.nine.spades { background: url('./pgns/Cards/spades_09.png'); }
.ten.spades { background: url('./pgns/Cards/spades_10.png'); }
.jack.spades { background: url('./pgns/Cards/spades_jack.png'); }
.queen.spades { background: url('./pgns/Cards/spades_queen.png'); }
.king.spades { background: url('./pgns/Cards/spades_king.png'); }
.ace.spades { background: url('./pgns/Cards/spades_ace.png'); }