@import '_variables';

.logo {
    span {
        font-style: italic;
        opacity: 0.9;
        margin-right: 0.2em;
    }
}
.chips {
    color: $text;

    &.raise {
        color: gold;
    }

    span {
        font-style: italic;
        opacity: 0.9;
    }
}

.card {
    background-size: 350% !important;
    pointer-events: none;
    will-change: transform;
    aspect-ratio: 5/7;

    &.show {
        &:not(.reveal) {
          animation: flip-scale-off .3s forwards;
        }
    }

    &.reveal {
        animation: flip-scale-on 1s forwards;
    }
}


.poker2 {

    user-select: none;
    margin: auto;
    background: #c0c0c0;
    aspect-ratio: 16/9;

    max-width: calc(100vh * 16 / 9);
    min-width: 960px;

    .table {
        width: 100%;
        height: 100%;
        position: relative;

        & > * {
            position: absolute;
            transform: translate(-50%, -50%);
        }

        .bg {
            background: rgb(63, 109, 37);
            width: 100%;
            height: 100%;
            transform: translate(0%, 0%);
        }

        .logo {
            text-shadow: 1px 1px rgba(10, 10, 10, 0.8);
            color: $text-dark;
            opacity: 0.5;
            font-size: 3em;
        }

        .circle {
            background: rgba(173, 173, 173, 0.1);
            box-shadow: 0px 0px 8px 2px rgba(200, 200, 200, 1);
            border-radius: 120px;
            width: 60%;
            height: 40%;
        }

        .replay {

            background: rgba(200, 200, 200, 0.1);
            box-shadow: 0px 0px 3px 2px rgba(250, 250, 250, 0.6);
            border-radius: 8px;
            backdrop-filter: blur(4px);

            width: 24%;
            height: 40%;

            display: flex;
            flex-flow: column;
            overflow: hidden;

            .buttons {
                display: flex;
                justify-content: center;
                button {
                    flex: 1;
                    padding: 0.5em;
                }
            }

            .list {
                flex: 1;
                display: flex;
                overflow-y: scroll;
                border-bottom: 1px solid white;

                ul {

                    li {
                        cursor: pointer;
                        padding: 0.5em;
                        border-radius: 2px;
                        background: linear-gradient(rgba(200, 200, 200, 0.1), rgba(180, 180, 180, 0.2), rgba(200, 200, 200, 0.1));

                        &:hover {
                          background: linear-gradient(rgba(200, 200, 200, 0.3), rgba(180, 180, 180, 0.5), rgba(200, 200, 200, 0.3))
                        }

                        &.active {
                          background: linear-gradient(rgba(199, 199, 53, 0.2), rgba(180, 180, 180, 0.4), rgba(167, 182, 67, 0.2))
                        }
                    }
                }
            }

        }

        .middle {
            width: 40%;
            display: flex;

            .flop1,
            .flop2,
            .flop3,
            .turn,
            .river {
                flex: 1;
                border: 2.5px dashed white;
                border-radius: 10px;
                aspect-ratio: 5/7;
                margin: 0.2em;
            }

            .flop3 {
                margin-right: 0.5em;
            }
        }

        .avatar {

            width: 18%;

            display: flex;
            flex-flow: column-reverse;

            & > .chips {
                background: rgba(200, 200, 200, 0.2);
                box-shadow: 0px 0px 5px rgba(200, 200, 200, 0.4);
                border-radius: 50px;
                backdrop-filter: blur(8px);

                flex-shrink: 0;
                flex-grow: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 1.4em;
                padding: 0.5em 0.1em;
            }

            .betdesc {
                background: rgba(200, 200, 200, 0.2);
                box-shadow: 0px 0px 5px rgba(200, 200, 200, 0.4);
                border-radius: 10px;
                backdrop-filter: blur(8px);


                display: flex;
                align-items: flex-end;
                justify-content: center;
                gap: 1em;

                font-size: 1.2em;
                padding: 0.8em 0.5em 0.2em 0.5em;
                margin: -10px 20px 0px 20px;

                text-transform: capitalize;

                height: 1em;
                transition: transform 1s;
                transform: translate(0%, -100%);
                
                &.on {
                  transform: translate(0%, 0%);
                }

                &.flash {
                    animation: flash .6s;
                }
            }

            .turn-timer {
                
                &:not(.off) {
                  background: rgba(200, 200, 200, 0.2);

                  animation: glow 1s infinite;
                  border-radius: 2px;
                  backdrop-filter: blur(8px);
                }

                margin: auto;
                margin-top: 2px;
                width: 80%;
                height: 10px;

                transform: translate(0, -100%);
                z-index: 1;

                .bar {
                    background: rgba(237, 237, 237, 0.8);
                    filter: blur(1px);
                    height: 100%;

                    &.danger {
                      background: rgba(168, 37, 37, 0.8);
                    }
                }
            }
        }

        .hand {
            display: flex;
            gap: 0.2em;
            width: 66%;
            margin: auto;
            align-self: center;
            .card {
                width: 50%;
            }

        }


        .totalpot {
            display: flex;
            gap: 0.4em;
        }


        .bet-ui {

            width: 24%;
            display: flex;
            flex-flow: column;

            .action-ui {
              display: flex;
            }

            .raise-ui {
              position: relative;
              display: flex;
              flex-flow: column;

              background:rgba(10, 10, 10, 0.6);
              box-shadow: 0px 0px 5px 2px rgba(20, 20, 20, 0.4);
              padding: 0.1em;
              margin: 0.1em;

              .slider-ui {
                display: flex;
                padding: 0.8em;
                gap: 1em;

                input {
                    flex: 1;
                }

                span {
                    min-width: 60px;
                }
              }


              &::after {

                content: '';
                width: 80px;
                height: 16px;
                position: absolute;
                bottom: -16px;
                right: 8px;
                background:rgba(10, 10, 10, 0.7);
              }

              .pre-raises {
                display: grid;

                grid-template-areas: 'one two three four five';
                grid-column: repeat(5, 1fr);

                .one {
                    grid-area: one;
                }

                .two {
                    grid-area: two;
                }

                .three {
                    grid-area: three;
                }

                .four {
                    grid-area: four;
                }

                .five {
                    grid-area: five;
                }



                .raise {
                  flex-grow: 0;
                  flex-basis: 20%;
                }
              }
            }

            button {

                cursor: pointer;
                backdrop-filter: blur(8px);
                background:rgba(10, 10, 10, 0.6);
                box-shadow: 0px 0px 5px 2px rgba(20, 20, 20, 0.4);
                border: none;


                color: #c0c0c0;

                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: stretch;
                flex: 1;
                padding: 0.4em;
                margin: 0.2em;
                transition: all 0.2s;


                & > span {
                    display: block;
                }


                &:hover {
                  box-shadow: 0px 0px 6px 4px rgba(20, 20, 20, 0.4);
                  transform: scale(1.01);
                }

                &:active {
                    transition: none;
                    box-shadow: 0px 0px 3px 3px rgba(20, 20, 20, 0.4);
                    transform: scale(1);
                }
            }
        }
    }

}


.poker2 {

    .replay {
        top: 50%;
        left: 86%;
    }

    .avatar,
    .betprevious {
        left: 48%;
    }

    .middle {
        top: 50%;
        left: 34%;
    }

    .circle, .logo {
        top: 50%;
        left: 40%;
    }

    .avatar {
            &.one {
                top: calc(80%);
            }

            &.two {
                top: calc(16%);
            }
    }

    .betprevious {
        &.one {
            top: calc(80% - 17%);
        }

        &.two {
            top: calc(16% + 17%);
        }


        &.to-pot {
            animation: to-pot .8s forwards;
        }
    }

    .totalpot {

        left: 61%;
        top: 50%;
    }


    .bet-ui {
        bottom: 2%;
        right: 2%;
        transform: translate(0%, 0%);
    }
}

@keyframes flash {
    0% { background: white }
    20% { background: white }
}

@keyframes glow {
    0%, 100% { box-shadow: 0px 0px 15px 6px rgba(200, 200, 200, 0.4); }
    50% { box-shadow: 0px 0px 15px 2px rgba(200, 200, 200, 0.4); }
}

@keyframes flip-scale-off {
    0% { transform: scaleX(1) }
    100% { transform: scaleX(0) }
}

@keyframes flip-scale-on {
    0% { transform: scaleX(0) }
    100% { transform: scaleX(1) }
}


@keyframes to-pot {
    100% { top: 50%; left: 64%; opacity: 0.2; }
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 2px;
  background: rgba(240, 240, 240, 0.8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(140, 140, 140, 1.0);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}