.showcase {
    display: flex;
    flex-flow: column;
    justify-content: center;

    section {
        flex: 1;
        padding: 1em;
        display: flex;
        flex-flow: column;
        justify-content: center;

        h2 {
            text-align: center;
            padding: 1em;
            border: 1px solid black;
            cursor: pointer;
            background: linear-gradient(rgb(249, 248, 248) 20%, rgb(207, 207, 207) 96%, rgb(13, 13, 13) 97%);
            &:hover {
               background: linear-gradient(rgb(249, 248, 248) 50%, rgb(207, 207, 207) 96%, rgb(13, 13, 13) 98%);
            }
        }

    }
}

.area {

    .hands {

        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-size: 4em;

            span:first-child {
                opacity: .1;
                text-shadow: 1px 1px 1px black;
                animation: logo 13s infinite;
                font-style: italic;
                margin-right: 0.2em;
            }

            span:last-child {
                opacity: .12;
            }
        }

        h3 {
            text-align: center;
            font-weight: normal;
            color: rgb(250, 205, 197);
            text-decoration: underline;
        }
    
    }


    .hands {
        background: radial-gradient(rgb(70, 103, 80), rgb(44, 70, 52));

        display: flex;
        flex-flow: column;
        gap: 1em;
        justify-content: center;
        align-items: center;

        .people {
            display: flex;
            align-self: stretch;
            justify-content: space-around;
            gap: 1em;

            .person {
                &.one {
                  flex: 0 0 28%;
                }
                &.two {
                    align-self: center;
                  flex: 0 0 24%;
                }
            }
        }

        .dealer {
            padding: 0.1em;
            display: flex;
            align-self: stretch;
            justify-content: center;
            align-items: center;

            & > .card-wrap {
                flex: .8;
            }

            .event {
                flex: 2;
            }

            .pots {
                flex: 3;
            }

            .middle {
                margin-left: 2em;
                flex: 6;
            }
        }

    }
}

.hands {

    .chips {
        display: flex;
        align-items: center;

        line-height: 1.5em;

        &:not(.inline) {
          border: 2px dashed rgb(255, 222, 222);
          border-radius: 10px;
          padding: 0.8em;
        }

        color: rgb(255, 199, 199);

        span {
            font-style: italic;
        }
    }

    .dealer {

        .event {
            padding: 0.5em;
            margin: 0.8em;
            display: flex;
            flex-flow: column;
            gap: 0.2em;
            background: linear-gradient(to top, rgba(250, 250, 250, 0.05), rgba(250, 250, 250, 0.1));
            backdrop-filter: blur(8px);

            .desc {
                font-size: .8em;
            }

            & > span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.4em;
            }

            & > span > span:last-child {
                display: flex;
                gap: 0.2em;
            }
        }

        .pots {

            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            gap: 1em;


            .pot {
                aspect-ratio: 1/1;
            }
        }

        .middle {
            display: flex;
            flex-flow: column;
            justify-content: center;
    
            .showdown-info {
                padding: 0.5em;
                color: white;
                background: linear-gradient(to right, rgba(193, 37, 115, 0.8), rgba(147, 101, 233, 0.8));
                border-bottom: 2px solid black;
                border-radius: 4px 4px 0 0;
    
                &:hover {
                    background: linear-gradient(to right, rgba(173, 42, 108, 0.9) 60%, rgba(147, 101, 233, 0.9) 90%);
                    text-decoration: underline;
                }
            }
    
            .ftr {
                display: flex;
                gap: 0.2em;
                padding: 1em;
    
                .flop {
                    flex: 6;
                    display: flex;
                    gap: 0.2em;
                    margin-right: 0.5em;
                }
    
                .card-wrap {
                    flex: 2;
                }
            }
        }
        }
        .people {
    
            .person {
    
                flex: 1;
                display: flex;
                gap: 1em;
                align-items: center;
    
                transition: all .6s;
    
                &.folded {
                    opacity: 0.3;
                    transform: translateY(10%);
                }
    
                &.two {
                    flex-flow: row-reverse;
                }
                
   
                .stack-wrap {

                .turn-left {
                    justify-self: flex-end;
                    flex: 0 0 1em;

                    border-radius: 2px 2px 0 0;
                    background: linear-gradient(to right, rgba(171, 182, 164, .7), rgba(165, 70, 70, .7) 70%, rgba(250, 60, 60, .7));
                    border-bottom: 2px solid rgba(0, 0, 0, .6);
                    border-top: 1px solid gray;

                    .bar {
                        height: 100%;
                        background: linear-gradient(to bottom, rgba(134, 36, 85, 0.8), rgba(90, 50, 160, 0.8));
                    }
                }
    

                .bets {
                    .bet {
                        $raise-color: rgb(249, 213, 10);
                        $fold-color: rgb(170, 15, 15);
                        $check-color: rgb(213, 211, 221);
                        $call-color: rgb(15, 170, 15);
    
                        display: flex;
                        justify-content: center;
                        border-radius: 2px;
                        padding: 0.4em;
                        margin-bottom: 0.2em;
    
                        text-shadow: 1px 1px 4px black;
    
                        background: linear-gradient(to bottom, rgba(134, 36, 85, 0.8), rgba(90, 50, 160, 0.8));
                        color: $raise-color;
    
                        &.raise {
                            &>span {
                                line-height: 1.6em;
                                display: flex;
                                gap: 0.6em;
                                justify-content: space-between;
                                align-items: center;
                            }
                        }
    
                        &.fold {
    
                            color: $fold-color;
                        }
    
                        &.check {
                            color: $check-color;
                        }
    
                        &.call {
                            color: $call-color;
                        }
                    }
                }
                }
    
                .stack-wrap {
                    align-self: stretch;
                    display: flex;
                    flex-flow: column;
                    justify-content: stretch;
    
                    .bets {
                        flex: 1;
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        justify-content: space-between;
                    }
    
                    .stack {
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
    
                .handle {
                    display: flex;
                    flex-flow: column-reverse;
                    flex: 1;
    
                    span {
                        align-self: center;
                        color: white;
                    }
    
                    .hand {
                        display: flex;
                        gap: 1em;
                        margin: 0 -12%;
    
                        .card-wrap:first-child {
                            transform: translateX(25%) scale(.8) rotateZ(-10deg);
                        }
    
                        .card-wrap:last-child {
                            transform: translateX(-25%) scale(.8) rotateZ(10deg);
                        }
                    }
                }
            }
        }
    
        .card-wrap {
            position: relative;
            width: 100%;
            aspect-ratio: 5/7;
    
            .card-holder {
                position: absolute;
                width: 92%;
                height: 92%;
                border: 4px dashed white;
                border-radius: 16px;
                transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }

        .card {
            width: 100%;
            height: 100%;
            position: absolute;
            transition: transform .3s, opacity .3s;

            .inner {
                width: 95%;
                height: 95%;
                transition: transform .8s;
                transform-style: preserve-3d;
            }

            .inner {

                .front,
                .back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;

                    border: 3px solid rgb(1, 3, 20);
                    border-radius: 18px;
                }

                .back {
                    background-size: cover;
                    transform: rotateY(180deg);
                }
            }

            .decoration {
                width: 100%;
                height: 100%;

                background: linear-gradient(rgb(245, 245, 154) 0%, rgb(243, 243, 197) 8%, rgb(212, 212, 177) 99%, rgb(24, 24, 17));

                .suit-left {
                    position: absolute;
                    top: 10%;
                    left: 80%;
                    width: 60%;
                    transform: translate(-50%, -50%);
                }

                .suit-middle {
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    width: 150%;
                    transform: translate(-50%, -50%);
                }

                .suit {
                    width: 100%;
                    height: 100%;
                }

                .rank {
                    position: absolute;
                    font-size: 3.6vw;
                    font-weight: bold;
                    top: 2%;
                    left: 5%;
                }


                svg>path,
                svg>polygon,
                .rankxx {
                    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .7));
                }

                $dark-red: rgb(174, 27, 27);
                $red: rgb(221, 39, 39);
                $dark-blue: rgb(37, 52, 187);
                $blue: rgb(38, 62, 214);


                &.hearts,
                &.diamonds {
                    .rank {
                        color: $dark-red;
                    }

                    svg {

                        path,
                        polygon {
                            stroke: $dark-red;
                            stroke-width: 10px;
                            fill: $red;
                        }
                    }
                }

                &.clubs,
                &.spades {
                    .rank {
                        color: $dark-blue;
                    }

                    .suit {
                        svg {

                            path,
                            polygon {
                                stroke: $dark-blue;
                                stroke-width: 10px;
                                fill: $blue;
                            }
                        }
                    }
                }
            }
        }

        .card.back {
            background: none;
        }

        //.card:hover .inner,
        .card.back .inner {
            transform: rotateY(180deg);
        }

    }
    

}


.hands {
    user-select: none;
    .buttons {
        button {
            user-select: none;
            cursor: pointer;

            padding: 1em;
            margin: 1em;


            border-radius: 2px;
            border: 2px solid white;
            background: rgba(0, 0, 0, .3);
            color: white;
            backdrop-filter: blur(8px);

            &:hover {
                background: rgba(10, 10, 10, .7);
            }

            &:active {
                border: 2px solid rgba(250, 250, 250, .7);
                background: rgba(40, 40, 40, .8);
            }
        }
    }
}


.hands {

    .updatable {

        position: relative;

        padding-bottom: 0.4em;

        &.init {
            visibility: hidden;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            height: 0.14em;
            background: linear-gradient(to right, rgb(233, 101, 167), rgb(147, 101, 233));
            opacity: 0.2;
            transition: all 150ms;
            transform: translate(-50%, 0);
        }
    
        &.updated::after {
            width: 100%;
            opacity: 1;
        }

        &:hover::after {
            height: 0.1em;
            opacity: 0.8;
        }
    }


    .stack.updatable,
    .hand.updatable {
        &::after {
            width: 80%;
            opacity: 1;
        }
    }
}


.hands {
    .pops.updatable {
        .pop {
            transition: transform .26s;
            transform: scale(0);
        }
    }
    .pops.updating {
        .pop {
            transform: scale(1.2);
        }
    }

    .pops.updated {
        .pop {
            transform: scale(1);
        }
    }

    .updatable.init {

        visibility: visible;

        .card {
            animation: pop .3s forwards;
        }
    }

    .updatable.init,
    .updatable.updating {
        .card .inner {
            transform: rotateY(180deg);
        }
    }

    .updatable.exiting {
        .card {
            transform: translateY(-10%) rotateZ(10deg);
            opacity: 0;
        }
    }
}

@keyframes pop {
    0% { transform: scale(0.8); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes logo {
    50% {text-shadow: 2px 2px 2px black; opacity: 0.13 }
}